<div id="search">
    <form id="search_form" action="#/search/query">
    <table border="0">
        <tr>
            <td>Titel</td>
            <td><input type="text" size="50" name="title" value="" /></td>
        </tr>
        <tr>
            <td>Autor</td>
            <td><input type="text" size="50" name="author" value="" /></td>
        </tr>
        <tr>
            <td>Schlagwörter</td>
            <td><input type="text" size="50" name="tags" value="" /></td>
        </tr>
        <tr>
            <td colspace="2"><input type="submit" value="Finden"/></td>
        </tr>
    </table>
    </form>
    <hr/>
    <div id="search_results"></div>
    <div id="search_paging"></div>
</div>
